@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    @apply max-w-7xl;
    @apply w-full;
}
